a {
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    color: #0f0f0f;
}

p {
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    color: #0f0f0f;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    color: #0f0f0f;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    color: #0f0f0f;
}

hr {
    display: block;
    margin: 0.5em auto;
    border: 1px inset;
}

.navbar {background-color: #ffffff;}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {color: #000000;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #f1f1f1; background-color: #000000;}

.btn {
    color: black;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}