@media all and (min-width: 1024px) {
    .success-message {
        padding: 60px 0;
    }
}

h1, h2, h3, p {
    font-weight: normal;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
}